body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.navlink {
  font-family: "Cerebri Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0 20px;
  color: #ffffff;
  text-decoration: none;
}
.homenavlink {
  display: flex;
  font-family: "Cerebri Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 10px;
  text-decoration: none;
}
